.header {
  background-image: url('../images/header2.jpg');
  background-size: auto;
  padding: 30px;
  text-align: center;
  color: Black;
  font-size: 20px;
}

.icons {
  float: right;
  height: 50px;
  width: 100%;
}
.facebook {
  background-image: url('http://www.governancenow.com/images/facebook.png');
  width: 50px;
  height: 50px;
  display: inline-block;
  float: right;
}
.twitter {
  background-image: url('http://kmwordsmith.com/images/round-sm-icons-twitter.gif');
  width: 50px;
  height: 50px;
  display: inline-block;
  float: right;
  margin-right: 10px;
}
.wrapper {
  float: left;
  width: 70%;
}

/* Style the links inside the sidenav */
#mySidenav a {
  position: absolute; /* Position them relative to the browser window */
  left: -40px; /* Position them outside of the screen */
  transition: 0.3s; /* Add transition on hover */
  padding: 15px; /* 15px padding */
  width: 100px; /* Set a specific width */
  text-decoration: none; /* Remove underline */
  text-align: right;
  font-size: 20px; /* Increase font size */
  color: white; /* White text color */
  border-radius: 0 5px 5px 0; /* Rounded corners on the top right and bottom right side */
}

#mySidenav a:hover {
  left: 0; /* On mouse-over, make the elements appear as they should */
}

/* The about link: 20px from the top with a green background */
#about {
  top: 280px;
  background-color: #4CAF50;
}

#food {
  top: 340px;
  background-color: #2196F3; /* Blue */
}

#discounts {
  top: 400px;
  background-color: #f44336; /* Red */
}

#contact {
  top: 460px;
  background-color: #555 /* Light Black */
}

.content{
  margin-left:100px;
}
